<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gwu_cs6221_paradigm_hechh.syncwatcher" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomListActivity"
            android:label="@string/title_activity_room_list" >
        </activity>
        <activity
            android:name=".CreateActivity"
            android:label="@string/title_activity_create" >
        </activity>
        <activity
            android:name=".RoomAddActivity"
            android:label="@string/title_activity_room_add" >
        </activity>
        <activity
            android:name=".ControlActivity"
            android:label="@string/title_activity_control" >
        </activity>
    </application>

</manifest>
